@font-face{
    font-family: "AlpengeistJF";
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot");
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.svg#AlpengeistJF")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
*{
    font-family: "AlpengeistJF";
    p{color:white ;}
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 6; }
    .div2 { grid-area: 3 / 4 / 5 / 6; }
    .div3 { grid-area: 2 / 1 / 4 / 3; }
    .happy { grid-area: 1 / 2 / 2 / 5; }
    .div5 { grid-area: 5 / 2 / 6 / 5; }

    .happy{
        display: flex;
        background-image: url("./311015.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        width: 750px;
        height: 200px;
        
    
    }