@font-face{
    font-family: "AlpengeistJF";
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot");
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.svg#AlpengeistJF")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
*{
    font-family: "AlpengeistJF";
    p{color:white ;}
    
}

.parent3 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .fond2 { grid-area: 1 / 1 / 6 / 6; }
    .happy2 { grid-area: 1 / 2 / 2 / 5; }
    .logo2 { grid-area: 1 / 5 / 2 / 6; }
    .jellal { grid-area: 2 / 1 / 3 / 2; }
    .jose { grid-area: 4 / 1 / 5 / 2; }
    .achnologia { grid-area: 2 / 5 / 3 / 6; }
    .zeleph { grid-area: 4 / 5 / 5 / 6; }
    .footer2 { grid-area: 5 / 2 / 6 / 5; }

    .fond2{
        display: flex;
        background-image: url(./logo\ 7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1900px;
        height: 3500px;
    }
    
    .happy2{
        display: flex;
        background-image: url(./happy5.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 100PX;
        width: 550px;
        height: 237px;
        justify-content:center ;
        margin-top: 100px;
        
    }

    .logo2{
        display: flex;
        background-image: url(logo4-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -400px;
        width: 540px;
        height: 405px;
        
        
    }

    .jellal{
        display: flex;
        background-image: url(./jellal-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 400px;
        height: 500px;
    }

    .jose{
        display: flex;
        background-image: url(./josé.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 400px;
        height: 400px;
    }
    
    .achnologia{
         display: flex;
         background-image: url(./BlackDragon.webp);
         background-repeat: no-repeat;
         background-size: cover;
         width: 500px;
         height: 600px;
         margin-left: -300px;
    }

    .zeleph{
        display: flex;
        background-image: url(./zeleph.webp);
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: -200px;
        width: 400px;
        height: 400px;

    }

    .footer2{
        display: flex;
        background-image: url(./LOGO\ FOOTER.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1080px;
        height: 400px;
        margin-top: 70PX;
    }

    p{
        font-size: 40px;
    }
    nav{
        width: 100%;
        margin: 0 auto;
        position: sticky;
        top: 0px;
    }
    
    nav ul{
        list-style-type: none;
    }
    
    nav ul li{
        float: left;
        width: 35%;
        text-align: center;
        position: relative;
    }
    
    nav ul::after{
        content: "";
        display: table;
        clear: both;
    }
    
    nav a{
        display: block;
        text-decoration: none;
        color: black;
        border-bottom: 2px solid transparent;
        padding-top: 180px ;
        padding-left: 0px;
    }
    
    nav a:hover{
        color: rgb(5, 5, 5);
        border-bottom: 2px solid rgb(253, 253, 252);
    }
    
  
    
    .sous{    
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white ;
        opacity: 70%;
        position: absolute;
        width: 100%;
        z-index: 1000; 
    }
    .happy2 p{
        align-self: center;
        color:black ;
    }
    
    
    nav > ul li:hover .sous{
        display: block;
    }
    .sous li{
        float: none;
        width: 100%;
        text-align: left;
    }
    .sous a{
        padding: 10px;
        border-bottom: none;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }
    .deroulant > a::after{   
        content:"▼";
        font-size: 12px;
    }
    
    .conteneur{
      margin: 50px 20px;
      height: 1500px;
    }
