@font-face{
    font-family: "AlpengeistJF";
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot");
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.svg#AlpengeistJF")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
*{
    font-family: "AlpengeistJF";
    p{color:white ;}
    
}