@font-face{
    font-family: "AlpengeistJF";
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot");
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.svg#AlpengeistJF")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
*{
    font-family: "AlpengeistJF";
    p{color:white ;}
    
}

.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 6 / 5; }
    .div2 { grid-area: 1 / 2 / 2 / 4; }
    .div3 { grid-area: 2 / 1 / 4 / 3; }
    .div4 { grid-area: 3 / 3 / 5 / 5; }
    .div5 { grid-area: 5 / 2 / 6 / 4; }
    
    .div1{
        display: flex;
        background-image: url(./logo6.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1879px;
        height: 2740px;

    }
    .div2{
        display: flex;
        background-image: url(./1342421018_47272.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 713px;
        height: 437px;
    }