@font-face{
    font-family: "AlpengeistJF";
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot");
    src: url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.eot#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/cd17f68c8817543e0e3138f6aceaf7e7.svg#AlpengeistJF")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}
*{
    font-family: "AlpengeistJF";
    p{color:white ;}
    
}

.parent2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    }
    
    .fond3 { grid-area: 1 / 1 / 6 / 6; }
    .logo2 { grid-area: 1 / 1 / 2 / 2; }
    .anos { grid-area: 2 / 1 / 3 / 2; }
    .misha { grid-area: 4 / 1 / 5 / 2; }
    .foter { grid-area: 5 / 1 / 6 / 4; }
    .embleme { grid-area: 5 / 5 / 6 / 6; }
    .sasha { grid-area: 4 / 5 / 5 / 6; }
    .kanon { grid-area: 2 / 5 / 3 / 6; }
    .hader { grid-area: 1 / 3 / 2 / 6; }
    .texte { grid-area: 3 / 3 / 4 / 4; }

    .fond3{
        display: flex;
        background-image: url(misha.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 1908px;
        height: 4000px;
    }

    .logo2{
        display: flex;
        background-image: url(logo-removebg-preview.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px; 
        margin-top: 100px;

    }

    .anos{
         display: flex;
         background-image: url(./Anosimg.webp);
         background-size: cover;
         width: 500px;
         height: 500px;
         

    }

    .misha{
          display: flex;
          background-image: url(./Misha_Necron_Infobox.webp);
          background-size: cover;
          height: 500px;
          width: 500px;
        

    }

    .foter{
          display: flex;
          background-image: url(./fond3.jpg);
          background-size: cover;
          border-radius: 200px;
          width: 1100px;
          height: 437px;
          margin-top: -200px;
    }

    .embleme{
          display: flex;
          background-image: url(./logo-removebg-preview.png);
          background-size: cover;
          height: 500px;
          margin-top: -200px;
    }

    .sasha{
          display: flex;
          background-image: url(./sasha.webp);
          background-size: cover;
          width: 500px;
          height: 500px;

    }

    .kanon{
          display: flex;
          background-image: url(kanon.png);
          background-size: cover;
          width: 500px;
          height: 500px;

    }

    .hader{
          display: flex;
          background-image: url(./fond3.jpg);
          background-size: cover;
          border-radius: 200px;
          justify-content: center;
          height: 350px;
          margin-top: 100px;
          
          

    }

    p{
        font-size: 40px;
        
    }
    nav{
        width: 100%;
        margin: 0 auto;
        position: sticky;
        top: 0px;
    }
    
    nav ul{
        list-style-type: none;
        
    }
    
    nav ul li{
        float: left;
        width: 35%;
        text-align: center;
        position: relative;
        
        
    }
    
    nav ul::after{
        content: "";
        display: table;
        clear: both;
    }
    
    nav a{
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-bottom: 2px solid transparent;
        padding-top: 250px ;
        padding-left: 0px;
    }
    
    nav a:hover{
        color: rgb(251, 246, 246);
        border-bottom: 2px solid rgb(253, 253, 252);
    }
    
  
    
    .sous{    
        display: none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: rgb(12, 12, 12) ;
        opacity: 70%;
        position: absolute;
        width: 100%;
        z-index: 1000; 
    }
    .hader p{
        align-self: center;
        color:rgb(252, 246, 246) ;
    }
    
  
    
    nav > ul li:hover .sous{
        display: block;
    }
    .sous li{
        float: none;
        width: 100%;
        text-align: left;
    }
    .sous a{
        padding: 10px;
        border-bottom: none;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }
    .deroulant > a::after{   
        content:"▼";
        font-size: 12px;
    }
    
    .conteneur{
      margin: 50px 20px;
      height: 1500px;
    }
  